body{
    margin:0;
    background-color: rgb(133, 7, 7);
    overflow: hidden;
}h1{
    text-align: center;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.842);
    text-shadow: 5px 5px rgb(4, 24, 4);;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.image{
    width:70vw;
    height:90vh;
    margin:0 0 0 15vw;
    position: absolute;
    border-radius: 5px;
    background-color: rgba(107, 5, 5, 0.658);
    box-shadow: 0 0 20px yellow;
}
#caixa{
    margin-top: 18vh;
    margin-left:25.9vw;
    position: absolute;
    height:36vh;
    width:23vw;
    text-wrap:wrap;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius:80px 80px 0 20px;
    text-align: left;
    padding:10px 0px 0 15px;
    justify-content: center;
    background-color: rgba(248, 248, 243, 0);
}#conteudo{

margin-left:10px;
margin-top:20px;
}


#caixa2{
    margin-top: 18vh;
    margin-left:50vw;
    position: absolute;
    height:36vh;
    width:25vw;
     text-wrap:wrap;
    border-radius:80px 80px 20px 0;
    justify-content: center;
    background-color: rgba(230, 227, 214, 0);
    padding:10px 10px 0 10px;
}#btn{
    margin-top:60px;
    margin-left: 10px;
    height:10vh;
    width:20vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius:40px 40px 10px 10px;
    background-color: rgba(214, 212, 70, 0.418);
    box-shadow:0 10px 20px rgba(0, 0, 0, 0.452);
}
#btn:hover{
   background-color: rgba(218, 214, 8, 0.801); 
}input:hover{
    background-color: rgba(218, 215, 8, 0.678); 
}