body{
    background-image:url(baloes.png);
    background-size:cover;
    margin:0;
    height:100vh;
    overflow: hidden;
    width:100vw;
}
#display{
    height:60vh;
    margin-top:20vh;
    margin-left:20vw;
    width:60vw;
    background-color:rgba(221, 194, 155, 0.863);
    border-radius:10px;
}
#btn{
    position:absolute;
    height:5vh;
    margin-left:14vw;
    margin-top:2vh;
    width:30vw;
    padding-left:2vw;
    border-radius:10px;
    background-color:rgba(221, 162, 36, 0.918);
}input{
    margin-left:14vw;
    height:5vh;
    width:30vw;
    border-radius:5px;
    margin-top:5vh;

}