*{
margin:0px;
padding: 0px;
box-sizing:border-box;
font-family: Arial;
}
body{
    height:115vh;
   background-image: url('imagem_de_fundo.png'); /* Define a imagem de fundo */
   background-repeat: no-repeat; /* Evita repetição da imagem */
   background-size: cover; /* Faz a imagem cobrir todo o fundo */
   background-position: center; /* Centraliza a imagem */
}
#container{
    min-height: 100%;
    margin-left:23%;
    width:50vw;
    height:100vh;
    background-color: #0e0d0dee;
}
.input-group{
display:flex;
align-items: center;
background-color: rgb(226, 238, 238);
padding:8px 16px 8px 8px;
 border-radius:24px ;
 width:70%;
 margin-left:15%;
 gap:8px;
}
.input-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:100%;
    
    min-width: 32px;
    min-height: 32px;
    background-color: rgb(218, 231, 227);
    color:aliceblue;
}
.input-field{
width:100%;
border:none;
background-color: transparent;



}
.input-field:focus{
    outline: none;
}
.conjunto{
display:flex;
flex-direction: column;
gap:12px;
list-style: none;
margin-top:12px;
margin-left:5%;
background-color: #ff000052;
border-radius:10px;
padding:14px;
width:45vw;
max-height:110vh;

}
.item{
 background-color:#ffee0075;
display:flex;
gap:12px;
padding:14px;
border-radius:10px;
}
.item-img img{
    width: 10vw;
    height:17vh;
    border-radius: 10%;


}
.item-title{
font-size:18px;
color:black;


}
.item-subtitle{
font-size: 12px;
color:black;
}
.item-description{
    font-size: 14px;
    color:black;
    

}
.item{
    padding: 2px;
}
